@import url(./reset.css);

header {
  width: 100%;
  height: 10vh;
  padding: 2%;
  border-bottom: 1px solid #c8c8c8;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
header img {
  width: 32px;
}
header h1 {
  font-size: 30px;
  font-weight: 900;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
header ul {
  display: flex;
  align-items: center;
}
header ul li:nth-child(2) {
  margin: 0 1rem;
}
/* //header */

.timer {
  margin-top: 2rem;
  text-align: center;
  font-weight: 700;
}

main {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.board-row {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.board-column {
  width: 50px;
  height: 50px;
  border: 2px solid #c8c8c8;
  font-size: 20px;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* //main */

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.key-row {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.key {
  width: 50px;
  height: 60px;
  border-radius: 10px;
  background-color: #e2e2e2;
  color: #333;
  font-size: 20px;
  font-weight: 900;
  text-align: center;
  line-height: 60px;
  cursor: pointer;
}
.key:active {
  box-shadow: inset 1px 1px 2px 3px #0000002f;
}
.key_enter {
  width: 80px;
  font-size: 16px;
}
.key_del {
  width: 80px;
}
.key_del img {
  width: 30px;
  margin: auto;
  transform: translateY(50%);
}
/* //section */
